//nav icons
.owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    top: calc(50% - 1.125rem);
}

.owl-prev span,
.owl-next span {
    font-size: 0;
    position: absolute;
    top: 0;
    width: 1.375rem;
    height: 2.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.375rem 2.25rem;
}

.owl-prev span.hero-prev {
    background-image: url(//cdn.shopify.com/s/files/1/0142/6007/6630/files/prev_arrow.svg?v=3659228205801826003);
    left: 2rem;
}

.owl-next span.hero-next {
    background-image: url(//cdn.shopify.com/s/files/1/0142/6007/6630/files/next_arrow.svg?v=17711063703342013326);
    right: 2rem;
}

//nav dots
.hero__dots-wrapper {
    position: absolute;
    bottom: 1rem;
    margin-left: 6.625rem;
}

.hero .slick-dots {
    margin: -18px -48px;
    width: 10rem;
}

.slick-slider .slick-dots li {
    margin: 0px 3px;
}

.slick-slider .slick-dots li a:before, .slick-slider .slick-dots li button:before {
    border-radius: 0;
    margin: 0rem 0 0 0rem;
}

//remove active transition
.hero .slick-dots a:hover:before {
    top: 0rem;
}

//text
@media screen and (min-width: 591px){
    .hero--adapt .hero__subtitle, .hero__slide .hero__subtitle {
        font-size: .75rem;
        text-align: left;
        margin-left: 4rem;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 769px){
    .hero--adapt .hero__title, .hero__slide .hero__title {
        font-size: 4.375rem;
        text-align: left;
        margin: 0.75rem 4rem 1.5rem;
        font-weight: 700;
        letter-spacing: -1.19px;
        line-height: 1.2;
    }
}

//button
.hero--adapt a.hero__cta, .hero__slide a.hero__cta {
    display: flex;
    float: left;
    margin-left: 4rem;
}

.hero--adapt .hero__title, .hero__slide a.hero__cta span {
    display: flex;
}

.hero--adapt a.hero__cta, .hero__slide a.hero__cta::before {
    content: ' ';
    display: inline-block;
    width: 2rem;
    position: absolute;
    left: 100%;
    margin-bottom: .75rem;
    height: calc(100% - .75rem);
    bottom: 0;
}

.hero--adapt a.hero__cta, .hero__slide a.hero__cta::after {
    content: ' ';
    display: inline-block;
    width: 2rem;
    position: absolute;
    left: 100%;
    border-right: .75rem solid transparent;
    border-top-width: .75rem;
    border-top-style: solid;
    height: .75rem;
    bottom: 0;
}

.hero--adapt .hero__title, .hero__slide a.hero__cta span::after {
    display: block;
    content: ' ';
    background-image: url(//cdn.shopify.com/s/files/1/0142/6007/6630/files/double_arrows.svg?v=1667016…);
    background-repeat: no-repeat;
    height: 1rem;
    width: 2rem;
    background-position: center right;
}