#cta {
    padding: 3.5rem;
}

#cta header {
    text-align: center;
    padding-bottom: 3.5rem;
}

// not exact same
.header_3 {
    font-family: 'Roboto Condensed',monospace;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -.8px;
    line-height: 1.2;
}

#cta .link-wrapper {
    //extra padding
    padding-top: 3.5rem;
    margin: 0 auto;
    max-width: 1124px;
    display: flex;
}

#cta .link-wrapper a.btn-link {
    margin: 0 auto;
}

.btn-link.black::before {
    background-color: #000;
}

.btn-link.black {
    background: #000;
    color: #fff;
}

.btn-link::before {
    content: ' ';
    display: inline-block;
    width: 2rem;
    position: absolute;
    left: 100%;
    margin-bottom: .75rem;
    height: calc(100% - .75rem);
    bottom: 0;
}

.btn-link {
    border: 0;
    height: 3.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 0;
    margin-right: 2rem;
    letter-spacing: 2.48px;
    line-height: 2;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}

.btn-link span {
    display: flex;
    align-items: center;
}

.btn-link.black span::after {
    background-image: url(//cdn.shopify.com/s/files/1/0142/6007/6630/files/double_arrows.svg?v=1667016…);
}

.btn-link span::after {
    display: block;
    content: ' ';
    background-repeat: no-repeat;
    height: 1rem;
    width: 2rem;
    background-position: center right;
}

.btn-link.black::after {
    border-top-color: #000;
}

.btn-link::after {
    content: ' ';
    display: inline-block;
    width: 2rem;
    position: absolute;
    left: 100%;
    border-right: .75rem solid transparent;
    border-top-width: .75rem;
    border-top-style: solid;
    height: .75rem;
    bottom: 0;
}

//inverted
.inverted{
    background-color: #000;
}

.inverted-headline{
    color: #fff !important;
}

.btn-link.white::before {
    background-color: #fff;
}

.btn-link.white {
    background: #fff;
    color: #000;
}

.btn-link.white span::after {
    background-image: url(//cdn.shopify.com/s/files/1/0142/6007/6630/files/double_arrows_blk.svg?v=1192693…);
}

.btn-link.white::after {
    border-top-color: #fff;
}