#cta {
    padding: 3.5rem;
}

#cta header {
    text-align: center;
    padding-bottom: 3.5rem;
}

// not exact same
.header_3 {
    font-family: 'Roboto Condensed',monospace;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -.8px;
    line-height: 1.2;
}

#cta .link-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    max-width: 1124px;
    display: flex;
}