header.site-header {
    background: #000;
    height: 3.6875rem;
    padding: 0;
}

header.site-header .wrapper {
    height: 100%;
    padding: 0 2.5rem;
}

.wrapper {
    max-width: none;
    margin: 0 auto;
}

header.site-header .wrapper .header_content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.site-header__logo {
    font-size: 1.25em;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 769px){
    .large--hide {
        display: none!important;
    }

    .large--left {
        float: left!important;
    }

    .site-header__logo {
        text-align: left;
        font-size: 1.5625em;
    }
}

.site-header__logo a.site-header__logo-link {
    margin: 0 auto;
}

.site-header__logo img {
    max-width: 180px;
}

.site-header__logo img {
    margin: 0 auto;
}

.site-header__logo a, .site-header__logo img {
    display: block;
}