
<div id="shopify-section-1562784988632" class="shopify-section"><section id="collections_highlight">

  <div class="half-container">
  
    <div class="left">
      
      	<a class="img-holder" href="/collections/andbox">
        	<img src="//cdn.shopify.com/s/files/1/0142/6007/6630/files/twitch_header_AN.jpg?v=1604520177">
        </a>
      
        <div class="text-section">
            <span class="eyebrow header_7"> ANDBOX </span>
      		<h3 class="header_3"> CLASSIC ESSENTIALS </h3>
            <a href="/collections/andbox"> Shop the <span>Collection</span> </a>
        </div>
      
    </div>
    
    <div class="right">
      
      	<a class="img-holder" href="/collections/1st">
        	<img src="//cdn.shopify.com/s/files/1/0142/6007/6630/files/Brian-Alcazar-Copyright-andbox-lic-nan-full-camo-roof-silvercup-candid.jpg?v=1602072700">
        </a>
      
        <div class="text-section">
            <span class="eyebrow header_7 "> 1ST DROP </span>
      		<h3 class="header_3"> CAMO HOODED AND SWEAT KIT </h3>
            <a href="/collections/1st"> Shop this <span>look</span> 
            </a>
        </div>
      
    </div>
    
  </div>

</section>




</div>

{% schema %}
{
  "name": {
    "en": "ABX Collections"
  },
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "ABX Collections"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "ABX Collections"
      },
      "category": {
        "en": "Collection"
      },
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": {
            "en": "Collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}
